body, html, #root, #container, .container{
    height: 100%;
    /* background-color: blue */
}

.box .delete{
    display: none
}
.box:hover .delete{
    display: block
}
.box button.icon{
    display: none
}
.box:hover button.icon{
    display: block
}
.list-item{
    overflow-x: scroll
}
.checkbox-label, .radio-label{
    margin-left: 5%
}
.staat{
    font-family: 'Staatliches', cursive;

}
.ex-box{
    border: 1px solid gray;
    box-shadow: 0px 1px 1px black
}
.list{
    border: 1px solid lightgray
}
#hero-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.hero-icon{
    margin-top: 10%;
    animation: fade 1s linear infinite

}
@keyframes fade{
    0%{
        opacity: 0;
        display: none
    }
    25%{
        opacity: .5;
        display: block
    }
    50%{
        opacity: 1;
        display: block
    }
    75%{
        opacity: .5;
        display: block
    }
    100%{
        opacity: 0;
        display: none;
    }
}
#title{
    font-size: 4.5rem
}
@media only screen and (max-width: 1024px){
    .hero-icon{
        margin-top: 20%
    }
}
